@use "fonts";

//colors
$subColor: rgba(123, 123, 123, 1);
$secondarySubColor: rgba(86, 86, 86, 1);

//fonts
$mainFontRegular: 'RedHatDisplayRegular', sans-serif;
$mainFontMedium: 'RedHatDisplayMedium', sans-serif;
$mainFontSemiBold: 'RedHatDisplaySemiBold', sans-serif;

$subFont: 'Lato', sans-serif;